<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MasterTestNGSuite">

<listeners>
        <listener class-name="com.demowebshop.listeners.ExtentReportManager"/>
</listeners>
    
  <test name="MasterTests">
  <parameter name="browser" value="chrome"/>
  <parameter name="operatingSystem" value="Windows"/>
    <classes>
      <class name="com.hybridframework.practice.scenarios.SearchTest_TC3"/>
      
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
